@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Julee);
@import url(https://fonts.googleapis.com/css?family=Merienda);
@import url(https://fonts.googleapis.com/css?family=Amita);
@import url(https://fonts.googleapis.com/css?family=Lekton);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Aubrey);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


body {

	margin: 0;
	padding: 0;
    /*background: -webkit-linear-gradient(#333, #FFFFFF) repeat-x;
	background: -moz-linear-gradient(#333, #FFFFFF) repeat-x;
	background: -o-linear-gradient(#333, #FFFFFF ) repeat-x;
	*/
}


/*Carousel CSS*/

.container
{
	min-width:100% !important;
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* To disable horizontal scroll bar */
		
}
.container-fluid
{
	padding-left: 0px;		
}



.main-container {
	padding: 20px;
	width:auto;
}

.carousel-indicators {
    bottom: 0;
	color:#FFCC99;
}
.carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: #FFEEE6;
    border:none;
}
.carousel-indicators .active{
    width: 16px;
    height: 16px;
   /* background-color: #ffcc99;*/
    border:none;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
	margin: 0;
	color:#000;
}
.carousel .item {
    min-height: 300px;
	 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    background-color: #FFF;
}
.carousel-caption {
    padding: .5em;
	
}
.carousel .icon-container {
    display: inline-block;
    line-height: 5px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em; 
}
.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
/* Animation delays */
.carousel-caption h3:first-child {
   -webkit-animation-delay: 1s;
}
.carousel-caption h2:nth-child(2) {
    -webkit-animation-delay: 2s;
}
.carousel-caption h6{
    -webkit-animation-delay: 3s;
}

/* Carousel CSS Ends */

.header
{
	background-color: #FFF;
	height: 50px;
	/*border-bottom:#333 thin ridge; */
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	padding-left: 40px;
	padding-top: 15px;
	padding-right: 40px;
    color:#900;
    margin-top: 0px;
	margin-bottom: 0px;
	width: auto;
	text-decoration:none;
	

}


/* navbar */
.navbar-default {
    background-color:#FFF;
    border-color: #FFF; 
	background-image:none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12.5px;
	font-weight: 900;
	height: 70px;
	padding-right: 0px;
	padding-bottom: 10px;
	text-shadow: 1px 1px #333;
	box-shadow:none;
	
	
}
navbar-default .navbar-toggle .icon-bar {
	
    color: #000;
}

/* title */
.navbar-default .navbar-brand {
    color: #FFF;
	background-image: none;
	
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF ;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CD5C3A;
	
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #FFF;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #CD5C3A;
    background-color: #FFF;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
	color: #333;
	
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	color: #033;
	
	
}
.navbar-default .navbar-toggle .icon-bar {
	color: #FFF;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #CD5C3A;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #CD5C3A;
    }
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, 
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
.col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, 
.col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, 
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{ padding: 0px;
}


	
.footer
{
	background: #000;
	font-family: 'Quicksand', serif;
	font-size: 11px;
	color: #FFFFFF;
	display: block;
	text-align:center;
	height: 80px;
	padding-top: 25px;
	bottom: 0;
	width: auto;
	margin-bottom:0px;
	border-top:#033 thick ridge;
	position: relative;
}


.gradient
   {
	background: -webkit-linear-gradient(#FFF, #FFFFFF);
	background: -moz-linear-gradient(#FFF, #FFFFFF);
	background: -o-linear-gradient(#FFF, #FFFFFF);
   }


/*SideNav Push Content */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    margin-top: 55px;
    left: 0;
    background-color:#033;
	opacity: 1.0;
	filter: alpha(opacity=100); /*IE 8 and earlier */
	overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 18px;
	font-family: 'Aubrey', Lucida;
	color:#CCC;
    display: block;
    transition: 0.3s
}
#openMenu{
 color:#FFF;
 font-family: 'Quicksand',serif;
 text-shadow: 1px 1px #333;
 font-size: 13px;
 cursor: pointer;
 padding: 30px;
 background-color: #CD5C3A;
 height: 70px;
}

#closeMenu{
 color:#FFF;
 font-family: 'Quicksand',serif;
 text-shadow: 1px 1px #333;
 font-size: 13px;
 width: 180px !important;
 cursor: pointer;
 padding: 30px;
 background-color: #033;
 height: 70px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
	font-family: 'Amita', Lucida;
	font-size: 14px;
	background-color: #333;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px; */
	
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.divContent1
{
	padding-left:20px; 
	padding-right: 5px;
	display:block;
	padding-top: 200px;
	
}
.logo
{
	font-family: 'Sacramento', Lucida;
	font-weight:600;
	display: block;
	font-size: 40px;
	padding-left: 80px;
	padding-top: 20px;
	padding-right: 20px;
	background-color:transparent;
	width:auto !important;
	
}

.download
{
	font-family: 'Amita', Lucida;
	font-size: 28px;
	color:#FF9933; 
	text-shadow: 1px 1px #333;
}

.heading_white
{
	font-family: 'Amita', serif;
	font-weight:bold;
	font-size: 18px;
	color: #FFF;
	text-shadow: 1px 1px #333;
}
.heading_black
{
	font-family: 'Amita', serif;
	font-weight:bold;
	font-size: 18px;
	color: #000;
	text-shadow: 1px 1px #CCC;
}

.sec2
{
	height: auto;
	background-color: #002537;
	opacity: 1.0;
	filter: alpha(opacity=100);
	position: relative;
	padding-left: 30px; 
	padding-right: 30px; 
	padding-top: 20px; 
	padding-bottom: 20px;
    border-bottom: #FFF 3px solid;

	
}

.sec3
{
	min-height: 400px;
	background-color:#FFF;
	opacity: 1.0;
	filter: alpha(opacity=100);
	position: relative;
	padding-left: 30px; 
	padding-right: 30px; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.sec4
{
    background-image: url("../images/spyder3.png");
	background-repeat: no-repeat;
    background-size: cover;
	position:relative;
	height:auto;
	padding-left:30px; 
	padding-right:30px; 
	padding-top: 10px;
	
}

.sec5
{
	background-color: #FFF;
	height: auto;
	opacity: 1.0;
	filter: alpha(opacity=100);
	position: relative;
	padding-left:30px; 
	padding-right:30px; 
	padding-top:30px; 
	padding-bottom: 30px;
	
}

.sec6
{
	background-color: #F2F2F2;
	min-height: 800px !important;
	opacity: 1.0;
	filter: alpha(opacity=100);
	position: relative;
	padding-left:30px; 
	padding-right:30px; 
	padding-top:30px;
	
	
}


.sec2-content{
	font-family: 'Lekton', serif;
	font-size: 13px;
	color: #FFF;
	line-height:inherit;
	font-weight:500;	
	}
	
.sec3-content{
	font-family: 'Abel', serif;
	font-size: 14px;
	color: #000;
	text-height:font-size;
	font-weight:500;	
	}
.writeUp1{
	
	font-family: "Quicksand", serif;
	font-size: 30px;
	color:#002537;
	text-shadow: 1px 1px #333;	
}
.writeUp2{
	
	font-family: "Quicksand", serif;
	text-height:text-size;
	font-size: 20px;
	color:#002537;
	text-shadow: 1px 0px #333;	
}

/*for parallax scrolling */
.parallax-img {
  background-image: url("../images/spyder2.png");
  min-height: 350px;
  position:relative;
  opacity: 1.0;
  filter: alpha(opacity=100);

  background-attachment: fixed;
 /* background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;

}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


/*Arrow top-down trick */
.arrow_box_sec2:after{
	
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #002537;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    bottom: -19px;
    z-index: 2;
}


.arrow_box_sec3:after{
	
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #FFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    top: -19px;
    z-index: 2;
}

.arrow_box_sec4:after{
	
	
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #202020;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    top: -19px;
    z-index: 2;
}

.arrow_box_sec6:after{
	
	
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #F2F2F2;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    top: -19px;
    z-index: 2;
}

/* Arrow ends here */

/*For animated button */
.button {
  font-family: 'Quicksand', Lucida;
  display: inline-block;
  border-radius: 4px;
  background-color: #002537;
  border: 3px solid #FFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.contain
{
	position: relative;
	width: auto;
	height: 70px;
	background-color: #002537;
    color: #FFFFFF;
	text-shadow: 1px 1px #333;
    text-align: center;
    font-size: 16px;
    padding: 20px;
	transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
	font-family: 'Abel', Lucida;
	font-weight: 600;
	
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #002537;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  font-family: 'Abel', Lucida;
  font-size: 14px;
  color: #002537;
  text-shadow:none;
  font-weight: 500;
  top: 60%;
  white-space:nowrap;
 
}

.contain:hover .overlay {
  bottom: 0;
  height: 100%;
}
/* Animated button ends here */
/*Animate Css FadeIn time */

.hobby_img
{
	display:block;
	text-align: center;
	font-weight: 700;
	font-family: 'Julee', Lucida;
	font-size: 16px;
	color: #033;
	margin: 0;
	cursor: pointer;
	
}
.hobby_img:hover {
	color: #CD5C3A; 
	text-shadow: 1px 0px #333;
	
	}
.contact_content{
	display:inline-block; 
	text-align:justify; 
	left: 20px; 
	right:20px; 
	top: 20px;
	font-family: 'Quicksand', Lucida;
	font-size: 14px;
	color: #333;
	}
.contact:hover
{
	color: #CD5C3A;
	text-decoration: none;
}


.modal-header{
	background-color: #EDD59C;
	color: #fff;
	font-family: 'Amita', Lucida;
	font-weight: 600;
	font-size: 12px;
}

.modal-footer{
	background-color: #EDD59C;
	color: #fff;
	font-family: 'Abel', Lucida;
	font-weight: bold;
	font-size: 12px;
}
.modal-body{
	color: #000;
	font-family: 'Quicksand', Lucida;
	font-size: 12px;
}

.fadeIn{
  -webkit-animation: fadeIn 10s; /* Safari 4+ */
  -moz-animation:    fadeIn 10s; /* Fx 5+ */
  -o-animation:      fadeIn 10s; /* Opera 12+ */
  animation:         fadeIn 10s; /* IE 10+, Fx 29+ */
}


.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }
   
  .buttonBasic .md-button
  {
	  margin-top: 16px;
	  margin-bottom: 16px;
	  margin-right: 7px;
	  background-color:#033;
	  color: white;
	  font-weight: bold;
  }
  md-content
  {
	  background-color: #F2F2F2;

  }

